footer .text-gray-800 {
    color: #332E20;
}
footer .text-gray-500 {
    color: #332E20;
}
footer .text-gray-800:hover {
    color: #FF5200;
}
footer .text-gray-500:hover {
    color: #FF5200;
}
.text-pink-500 {
    color: #FF5200;
}
/** Form Styles **/
.form-input {
    border: 1px solid #000;
    color: #000;
    width: 100%;
    padding: 8px;
}
.form-label {
    color: #000;
    font-size: 22px;
}
#my-form-status {
    text-align: center;
    color: #000;
    font-size: 36px;
    padding: 30px;
}
.thank-you-message {

}

